html,
body {
  background-color: #dc9e82;

  padding: 0;
  margin: 0;

  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: repeating-linear-gradient(45deg, #dc9e82 0px, #dc9e82 20px, #c16e70 20px, #c16e70 40px); */
  background: radial-gradient(circle, #dc9e82, #c16e70);
}

dialog[open] {
  font-family: "boldone";
  color: #030027;
  font-size: 2rem;

  background-color: none;
  background: none;
  outline: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

#room-unavailable-dialog[open] {
  width: 100vw;
  height: 100vh;
}

#room-unavailable-dialog::backdrop {
  background: radial-gradient(circle, #dc9e82, #c16e70);
}

#press-to-readyup-dialog::backdrop {
  background: none;
  color: none;
}

#readyup-button {
  font-family: "boldone";
  font-size: 3rem;
  padding: 1.5rem;
  border-radius: 20px;
  border: 0;
  max-width: 50vw;

  color: #030027;
  background-color: #f2f3d9;

  outline: none;
}

#readyup-button:hover {
  background-color: #c2c2b0;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  10% {
    transform: translate(-6px, 1px) rotate(-0.2deg);
  }
  20% {
    transform: translate(6px, -2px) rotate(0.2deg);
  }
  30% {
    transform: translate(-5px, 2px) rotate(-0.2deg);
  }
  40% {
    transform: translate(5px, -1px) rotate(0.2deg);
  }
  50% {
    transform: translate(-4px, 1px) rotate(-0.15deg);
  }
  60% {
    transform: translate(4px, -1px) rotate(0.15deg);
  }
  70% {
    transform: translate(-3px, 1px) rotate(-0.1deg);
  }
  80% {
    transform: translate(3px, -1px) rotate(0.1deg);
  }
  90% {
    transform: translate(-2px, 1px) rotate(-0.05deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

#name-form {
  display: flex;
  align-items: center;
}

#name-input {
  font-family: "boldone";
  font-size: 2rem;
  padding: 1rem;
  border-radius: 20px;
  border: 0;

  max-width: 70vw;

  color: #030027;
  background-color: #f2f3d9;
}

#name-input:focus {
  outline: none;
}

#name-input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

@supports (corner-shape: squircle) {
  #name-input,
  #readyup-button {
    border-radius: 40px;
    corner-shape: squircle;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shake {
  animation: shake 0.5s ease-in-out;
}
